body {
    padding-top: 50px;
    padding-bottom: 20px
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* QR code generator */
#qrCode {
    margin: 15px
}

.navbar {
    background-color: #eeeeee;
    box-shadow: 0px 3px 5px #a5a5a5;
    border: none;
}

.navbar ul {
    float: right;
}

.navbar li {
    color: #000;
}

.logoImg {
    padding-top: 5px;
    width: 40px;
    height: auto;
    display: inline-block;
    align-content: center;
}

    .logoImg:hover {
        opacity: 0.5;
    }

.pageContent {
    text-align: center;

}

.timelineRegister {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.pageHeading {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: #fff;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
}

#heroImg {
    top: 0;
    background-image: url("/images/heroImage2.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
    text-shadow: 1px 1px 1px #000;
}

.bannerImg {
    max-width: 600px;
    height: auto;
}

.text-right {
    text-align-last: right;
}

.table th {
    border-top: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #CAE3FE;
    cursor: pointer;
}

footer {
    text-align: center;

}
