
html, body {
    height: 100%;
    margin: 0px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* QR code generator */
#qrCode {
    margin: 15px
}

.pageContent {
    text-align: center;
}

.popup-window {
    width: 50%;
    height: auto;

}


/*======= Navbar ========*/
/*==========================*/

.navbar {
    background-color: #f6f6f6;
    /*box-shadow: 0px 2px 5px #cacaca;*/
    border-bottom: 1px solid #c1c1c1;
    padding: 5px 0 5px;
    text-align: center;
}

.navbar ul {
    display: inline-block;
    font-size: 1.05em;
    font-weight: bold;
    color: #8b8b8b;
    padding-left: 20px;
}

    .navbar li a {
        color: #8b8b8b;
    }

        .navbar li a:hover {
            color: #0073cc;
        }

.logoImg {
    padding-top: 5px;
    width: 40px;
    height: auto;
    display: inline-block;
    align-content: center;
}

    .logoImg:hover {
        opacity: 0.5;
    }

/*======= End of Navbar ========*/




.timelineRegister {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.pageHeading {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: #fff;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
}

#heroImg {
    top: 0;
    background-image: url("/images/heroImage2.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
    text-shadow: 1px 1px 1px #000;
}

.bannerImg {
    width: 75vh;
    height: auto;
}

.airtek-banner-img {
    width: 25vh;
    height: auto;
}

.text-right {
    text-align-last: right;
}

.table th {
    border-top: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #CAE3FE;
    cursor: pointer;
}

footer {
    text-align: center;

}


.modal-content {
    top: 10%;
    width: 50%;
    height: auto;
    overflow: hidden;
    padding: 20px 50px 20px 20px;
    margin: auto;
    background-color: #fff;
    position: center;
    outline: 0;
}

@media only screen and (max-width: 600px) {
    .modal-content {
        width: 75%;
    }
}



/* Dropdown Button */
.dropbtn {
    padding: 4px;
    font-size: 16px;
    border: none;
    background-color: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 15px 20px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    opacity: 0.7;
}

.create-form {
    text-align: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

#map {
    height: 400px;
    margin-bottom: 10px;
}

#mapDisplay {
    height: 400px;
    margin-bottom: 10px;
}


.pac-container {
    z-index: 1051 !important;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

    #pac-input:focus {
        border-color: #4d90fe;
    }

.attachment-box{
    max-width: 75%;
    height: auto;
    padding: 10px;
    background-color: #ddd;
    border: 2px, solid, #009aff;
    display: block;
}

.attachment-file {
    width: 20px;
    height: 20px;
    background-color: #eeeeee;
    border: 1px, solid, #000;
    box-shadow: 0px 3px 5px #a5a5a5;
    text-align: center;
    padding: 2px;
}

.btn-empty-case-add {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px 0 0;
    font-size: 64px;
    background-color: #0073cc;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
}

.btn-empty-case-add a {
    color: #ffffff;
    text-decoration:none;
}

    .btn-empty-case-add:hover {
        width: 100px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid #000000;
        text-align: center;
        vertical-align: middle;
        color: #0073cc;
        transform: scale(1.1);
        text-decoration: none;
        box-shadow: #d4d4d4 0px 0px 20px;
    }

.timeline-register-emptycase {
    padding: 25px;
}

.push-to-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
}
