.timeline-wrapper {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.timeline-area {
    width: 100%;
    height: 75%;
    margin: 0;
    background-color: #f6f6f6;
    box-shadow: #c6c6c6 0 0 10px;
    padding: 100px 75px 100px;
    text-align: center;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    border-radius: 15px;
}

.timeline-ruler {
    position: relative;
    top: 150px;
    width: 100%;
    height: 3px;
    background-color: #000000;
    opacity: 0.5;
    box-shadow: inset 40px 0px 20px -20px #eeeeee, inset -40px 0px 20px -20px #eeeeee;
    z-index: 1;
}

.ruler-active {
    position: absolute;
    right: 30px;
    top: 33px;
    width: 150px;
    height: 3px;
    opacity: 1;
    z-index: 1;
    display: none;
}

    .ruler-active:active {
        background-color: #4d9ce6;
    }

.event {
    margin: 0px 20px 0px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    width: 0;
    display: inline-block;
    text-align: center;
}

    .event::after {
        content: '';
        position: absolute;
        width: 35px;
        height: 35px;
        top: 15px;
        left: 33%;
        bottom: 0;
        background-color: white;
        border: 2px solid #2e2e2e;
        border-radius: 50%;
        z-index: 2;
        overflow: hidden;
        transition: 0.5s;
    }

    .event:hover::after {
        transform: scale(1.2);
        background: #4d9ce6;
        box-shadow: 0px 0px 10px #CCC;
        border: 2px solid #ffffff;
        cursor: pointer;
    }

.event-content {
    position: absolute;
    vertical-align: top;
    left: 0;
    right: 0;
    bottom: -10px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    max-width: 150px;
    padding: 0px 10px 0px;
}

.event-date {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    max-width: 100px;
}

.pointer {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 50%;
    width: 2px;
    height: 20px;
    text-align: center;
    background-color: #000;
}

.first-event-btn {
    width: 50px;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    float: left;
    position: fixed;
    top: 0;
    left: 1;
    overflow: hidden;
}

.last-event-btn {
    width: 50px;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    float: right;
    position: fixed;
    top: 0;
    right: 1;
    overflow: hidden;
}