@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h4 class="text-danger">An error occurred while processing your request.</h4>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

    <img src="~/images/IdeaGenBanner.png" alt="IdeaGen" class="about-page-img" />
<h1>@ViewData["Message"]</h1>

@Html.ActionLink("Help Page", "Help", "Home", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Attempt to go back to the Timeline register", "Timelines", "Timeline", null, new { @class = "btn btn-default btn-large" })

