@{
    ViewData["Title"] = "About";
}


<div class="pageContent">
    <h2>About</h2>
</div>


<div class="row">
    <div class="col-lg-8">
        <p>AyrTek is a small team of developers who created this timeline software for a university coursework project.</p>
        <br />
        <h3>The Team</h3>
        <ul>
            <li>Gavin Macleod</li>
            <li>Daryl McAillister</li>
            <li>Niklas Ollson</li>
            <li>Martin Brown</li>
            <li>Sean McGeachy</li>
        </ul>
    </div>
</div>


