@{
    ViewData["Title"] = "About";
}


<div class="pageContent">
    <h1>About</h1>
    <hr />

    <br />
    <div id="headerImg">
        <img class="bannerImg" src="~/images/AyrtekBanner.png" alt="AyrTek" />
    </div>
    <br />
    <p>
        We are Ayrtek, a small software development team that have created this timeline event management web application for Aileron Airways.
        In this application users are able to create timelines that contain a list of events, these can also contain attachments of images,
        documents, or anything really. With a focus on aviation risk management this application allows for users to see a visual representation
        of a series of events that might of occurred in the real world of aviation safety, such as why a plane wasn’t able to take off the runway,
        or why baggage became lost in another country.
    </p>
    <p>
        With an easy an use interface users can create timelines that represent an occurrence that required investigation,
        create events in order by which they happened with a text description, add any attachments or information that be
        might supplementary to that event, and view it all in a clear and consistent timeline.
    </p>


    <p>
        This application was developed as part of our 3rd year Integrated Project at Glasgow Caledonian University in
        partnership with Ideagen PLC. We hope you like it!
    </p>

    <br />
    <h2>The Team</h2>
    <ul style="list-style: none">
        <li>Daryl McAillister (Full Stack Developer) - Lead Developer</li>
        <li>Gavin Macleod (Full Stack Developer) - Lead UX/UI Designer</li>
        <li>Martin Brown - UX/UI Designer</li>
        <li>Niklas Ollson (Full Stack Developer) - Development, Testing & Resarch</li>
        <li>Sean McGeachy - Documentation</li>
    </ul>
    <hr />

    <div id="headerImg">
        <img class="bannerImg" src="~/images/IdeaGenBanner.png" alt="IdeaGen" />
    </div>
    <p>
        With headquarters in Nottingham and offices in East Kilbride and Dubai, Ideagen PLC is an international and
        UK leader of software and services for the effective and efficient management of quality, safety and risk in
        Aviation, Healthcare, Life Sciences, Manufacturing and other commercial domains.
        The Ideagen development team took on the challenge of completely re-designing our current software product
        and transforming it into a highly configurable, scalable, secure, global and highly performant SaaS (Cloud)
        software product.
    </p>

    <br />
    <h3>Our new software product consists of:</h3>
    <p>
        
        • The latest Amazon Web Service platform and infrastructure services
        <br />
        • A highly distributed, multi-tenant and service oriented architecture
        <br />
        • State-of-the-art design patterns: CQRS and Event Sourcing
        <br />
        • Designing and building fault tolerant systems and services
        <br />
        • Asynchronous messaging
        <br />
        • Both SQL and NoSQL databases
        <br />
        • Full deployment and infrastructure management services and monitoring systems
        <br />
        • Support for ongoing security and vulnerability testing
        <br />
        • Synchronous UI using ASP MVC4, Angular2 and Backbone.js
    </p>
    <br />

    <h3>Contact IdeaGen</h3>
    <p>
        <a href="https://www.ideagen.com/">www.ideagen.com</a>
        <br />
        <b>Plc. Head Office:</b> +44 (0) 1629 699100
        <br />
        <b>US Head Office:</b> +1 (202) 888 3560
    </p>

</div>

