@{
    ViewData["Title"] = "Contact";
}

<div class="pageContent">
    <h2>Help</h2>

    <div>
        <h3>Adding a Timeline</h3>
        <p>Here we will put information on using the software</p>
    </div>

</div>
