@{
    ViewData["Title"] = "Help";
}

    <link rel="stylesheet" type="text/css" href="dynamicTimelineStyle.css">


<div class="pageContent">
    <h1>Help</h1>

    <hr />
    <div class="help-page-content">

        <section>
            <h2>Create a new timeline </h2>
            <p>
                If you have not yet create a timeline, you will see a large '+' button. Press this to create your first Timeline!
                <br />
                <div class="timeline-register-emptycase btn-empty-case-add">
                    +
                </div>
                <br />
                <br />

                To create a new timeline, click on the "Create Timeline" button.
                <br />
                <div class="btn btn-primary btn-lg">
                    Create Timeline
                </div>
                <br />
                <br />

                Type in your title and click "Save"
                <br />
                <div class="btn btn-primary btn-lg">
                    Save
                </div>
            </p>
        </section>
        <hr />

        <section>
            <h2>Edit a timeline</h2>

            <p>
                To edit a timeline, click on the cog button; <span class="glyphicon glyphicon-cog"></span> and then choose “Edit” from the dropdown menu and enter in a new timeline title.
                <br />
                <br />
                Click <div class="btn btn-primary btn-lg">Save</div> to save the changes
            </p>
        </section>
        <hr />

        <section>
            <p>
                <h2>Delete a timeline</h2>
                To delete a timeline, click on <span class="glyphicon glyphicon-cog"></span>
                and then choose “Delete” from the dropdown menu.
                <br />
                <b>
                    WARNING: Timelines and any events within them are
                    permanently deleted; you won’t be able to restore them!
                </b>
            </p>

        </section>
        <hr />
        <section>
            <h2>Open and view a timeline</h2>
            <p>To view a timeline, hover over a timeline title and click on it to open it. You can also sort timelines by title, or date/time. Just click on the headers!</p>
            <br />

            <div style="margin-left: 25%; width:50%; background-color: #f6f6f6; padding: 10px; overflow: scroll">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date/Time</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Timeline Name</td>
                            <td>01/02/03</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>
        <hr />
        <section>
            <h2>Create a new event</h2>
            <p>
                To create a new event, click on <span class="btn btn-primary btn-lg">Create New Event</span> and type in the title of the new event.
                Optionally you and type in the description chose a date/time, and either type the name of a location
                or select a location on the map, but it is not required to create event. Don’t worry, you can always
                come back to edit them later on.
                <br />
                Click on <span class="btn btn-primary btn-lg">Save</span> to save the event.
            </p>
        </section>
        <hr />

        <section>
            <h2>View an Event</h2>
            <p>To view an event's details, click on one of the event's on the dynamic timeline. This will open the event below the timeline, where you can edit all event details.</p>

                <div class="timeline-wrapper">
                    <div class="timeline-ruler"></div>
                    <div id="line"></div>
                    <div class="timeline-area">
                        <div class="event" style="top: -5px">
                            <div class="event-content">
                                <h4>Event Name</h4>
                            </div>
                            <div class="event-date">
                                <h4>01/02/03</h4>
                            </div>
                        </div>
                    </div>
                </div>


        </section>
        <hr />
        <section>
            <h2>Edit an event</h2>
            <p>
                To edit any details of an event, click on <span class="glyphicon glyphicon-edit"></span>
                and then type or select the changes you wish to make.
                <br />
                Click <span class="btn btn-primary btn-lg">Save</span> to save the changes
            </p>
        </section>
        <hr />
        <section>
            <h2>Delete an event</h2>
            <p>
                To delete an event, scroll to the bottom on the page  and click on <span class="btn btn-danger btn-lg">Delete Event</span>
                <br />
                <b>WARNING: Events and any attachments within them are permanently deleted; you wont be able to restore them!</b>
            </p>
        </section>
        <hr />
        <section>
            <h2>Add attachment</h2>
            <p>
                To add an attachment to an event, click on  <span class="btn btn-primary btn-lg">Add Attachment</span>
                and then select a file to upload.
                <br />
                Click <span class="btn btn-primary btn-lg">Save</span> to save the attachment and upload.
            </p>
        </section>

        <hr />
        <section>
            <h2>Problems Loading Timeline's or Events</h2>

            <p>
                If you experience any problems, this is most likely due to the IdeaGen API being down, or having problems.
                <br />
                Please contact technical support, you can find all contact details in our <a asp-area="" asp-controller="Home" asp-action="About">About</a> page.
            </p>
        </section>


    </div>

</div>
