@{
    ViewData["Title"] = "Welcome";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="padding:0px !important">
    <div id="wrapper">
        <div id="heroImg">
            <div class="pageHeading">
                <img class="bannerImg" src="~/images/AyrtekBannerWhite.png" alt="AyrTek" />
                <div class="container text-center">
                    <h1>Welcome</h1>
                    <p>To AyrTek's Timeline Web Application</p>
                    @Html.ActionLink("Continue", "Timelines", "Timeline", null, new { @class = "btn btn-primary btn-large" })
                </div>
            </div>
        </div>
    </div>
</body>


