@model TimelineList;





@{
    //VIEWBAGS
    ViewData["Title"] = "About";
    ViewData["Message"] = "Your application description page.";
}





@{ 
    //DISPLAYS DYNAMIC TIMELINE CONTENT
    foreach(var x in Model.timelines)
    {
        <div class="gray">
             @x.Id <br>
             @x.Title; <br>
             @x.CreationTimeStamp  <br>
             @Html.ActionLink("Delete", "Delete", new {Id = x.Id }) 
        </div>
    }

}
