@{
    ViewData["Title"] = "Welcome";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="padding:0px !important">
    <div id="wrapper">
        <div id="heroImg">
            <div class="pageHeading">
                <img class="bannerImg" src="~/images/AileronAirwaysBannerWhite.png" alt="AyrTek" />
                <h1>Event Timeline Manager</h1>
                <br />

                <div class="container text-center">
                    @Html.ActionLink("Continue", "Timelines", "Timeline", null, new { @class = "btn btn-primary btn-lg" })
                </div>

                <br />
                <br />
                <p>A Solution by</p>
                <img class="airtek-banner-img" src="~/images/AyrtekBannerWhite.png" alt="AyrTek" />


            </div>
        </div>
    </div>
</body>


