@model IEnumerable<IP3Project.Models.TimelineList>
@{
    ViewData["Title"] = "Timelines";
}

<!--This view is the main view which will hold the "TimelineRegister" partial view, if any timelines exist-->

<div class="row">
    <div class="pageContent">
        <h1>Timelines</h1>
    </div>

    <div id="emptyCase">

    </div>


    <!--Validation to check if there are any existing timelines is needed before calling this partial view-->
    <div id="partialTimelineRegister">
        @{
            Html.RenderPartial("/Views/Timeline/CreateTimeline.cshtml");
        }
    </div>

</div>
