@model IP3Project.Models.CreateAttachmentViewModel

<h4>Attachment</h4>
<hr />
<div class="create-form">
    <div class="row">
        <div class="col-8">
            <form asp-controller="Attachment" asp-action="UploadAttachment" id="Form" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m => m.TimelineEventId)

                <div class="form-group">
                    <label asp-for="File" class="control-label"></label>
                    <input asp-for="File" type="file" name="File" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                    <button type="button" class="btn btn-default modal-close-btn" data-dismiss="modal">Close</button>
                </div>

            </form>
        </div>
    </div>

</div>



<script src="~/js/validationReset.js"></script>

