@model IP3Project.Models.CreateAttachment

<h4>Attachment</h4>
<hr />
<div class="row">
    <div class="col-8">
        <form asp-action="UploadAttachment" id="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                Select Files: <input type="file" name="img" multiple class="btn-default">
            </div>

            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/validationReset.js"></script>

