
@{
    ViewData["Title"] = "Timeline View";

}

<h2></h2>


@{
    Html.RenderPartial("_DynamicTimeline.cshtml");
}

<div class="description-flex-container">
</div>


<script src="~/js/dynamicTimeline.js"></script>

<div id="modal-container" class="modal fade">
    <div class="modal-content">
    </div>
</div>


