@model TimelineListViewModel


@{
    ViewData["Title"] = "Timelines";
}

<!--This view is the main view which will hold the "TimelineRegister" partial view, if any timelines exist-->

<div class="row">
    <div class="pageContent">
        <h1>Timelines</h1>
    </div>
    <hr />
    @{


        if (ViewBag.OnePageOfProducts.Count == 0 && ViewData["currentFilter"] == null)
        {

            <div class="container">
                <div class="pageContent">
                    <h3>You have not created a timeline yet! </h3>
                    <p>Create one now!</p>
                    <div class="timeline-register-emptycase">
                        @{
                            @Html.ActionLink("+", "CreateTimeline", "Timeline", null, new { @class = "modal-link btn-empty-case-add" })
                        }
                    </div>
                </div>
            </div>

        }
        else
        {

            <div>
                @{
                    Html.RenderPartial("/Views/Timeline/_TimelineRegister.cshtml");
                }
            </div>

        }
    }

    <div id="modal-container" class="modal fade">
        <div class="modal-content">
        </div>
    </div>

    <script src="~/js/timelines.js"></script>


</div>
