@model TimelineList

@{
    ViewData["Title"] = "Timelines";
}

<!--This view is the main view which will hold the "TimelineRegister" partial view, if any timelines exist-->

<div class="row">
    <div class="pageContent">
        <h1>Timelines</h1>
    </div>

    @{

        if (Model.timelines.Count == 0)
        {
            <div id="partialTimelineRegister">
                <h4>You have not created a timeline yet! You can create one now!</h4>
                @{
                    Html.RenderPartial("/Views/Timeline/_CreateTimeline.cshtml");
                }
            </div>
        }
        else
        {

            <div>
                @{
                    Html.RenderPartial("/Views/Timeline/_TimelineRegister.cshtml");
                }
            </div>

        }
    }

    @section scripts {
        <script type="text/javascript" language="javascript">
            $(function () {
                console.log("I've been called1");
                // Initialize numeric spinner input boxes
                //$(".numeric-spinner").spinedit();
                // Initialize modal dialog
                // attach modal-container bootstrap attributes to links with .modal-link class.
                // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
                $('body').on('click', '.modal-link', function (e) {
                    console.log("I've been called2");
                    e.preventDefault();
                    $(this).attr('data-target', '#modal-container');
                    $(this).attr('data-toggle', 'modal');
                });
                // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
                $('body').on('click', '.modal-close-btn', function () {
                    $('#modal-container').modal('hide');
                });
                //clear modal cache, so that new content can be loaded
                $('#modal-container').on('hidden.bs.modal', function () {
                    $(this).removeData('bs.modal');
                });
            });


        </script>
    }


</div>
